<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                rel="stylesheet" />

    <link rel="stylesheet" href="css/theme.css">

  </head>
  <body>
    <header class="header-class">
      <h1>
        <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
      </h1>
      <p>Lugar para poner barra de busqueda</p>
       <p class="subtitle"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de credito</p>
      <nav class="navbar-main">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li><i class="far fa-id-card"></i> <a href="#">Crea tu cuenta</a></li>
          <li><i class="fas fa-sign-out-alt"></i> <a href="#">Ingresá</a></li>
          <li> <i class="fas fa-shopping-basket"></i> <a href="#">Mis Compras</a></li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars burger-icon"></i>
        </div>
    </header>
    <img
      src="/images/img-home-banner.jpg"
      alt="Promoción fiestas"
      width="100%"
    />
    <main>
      <section>
        <h2 class="h2-main1" >Basado en tu última visita</h2>
        <article>
            <img
              width="100%"
              src="/images/img-cafetera-moulinex.jpg"
              alt="Cafetera Moulinex" />
            <p class="price">$6.770</p>
            <p class="discount">40% OFF</p>
            <h3 class="description">Cafetera Moulinex</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <p class="price">$230.000</p>
          <p class="discount">20% off</p>
          <h3 class="description">MacBook Pro 2019</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <p class="price">$70.500</p>
          <p class="discount">10% off</p>
          <h3 class="description">Samsung Galaxy S10</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Samsung Galaxy S10"
          />
          <p class="price">$23.200</p>
          <p class="discount">5% off</p>
          <h3 class="description">SmartTv Samsung 43"</h3>
        </article>
      </section>
      <section>
        <h2 class="h2-main2">Ofertas</h2>
        <article>
          <img
            width="100%"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <p class="price">$6.770</p>
          <p class="discount">40% OFF</p>
          <h3 class="description">Cafetera Moulinex</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <p class="price">$230.000</p>
          <p class="discount">20% off</p>
          <h3 class="description">MacBook Pro 2019</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <p class="price">$70.500</p>
          <p class="discount">10% off</p>
          <h3 class="description">Samsung Galaxy S10</h3>
        </article>
        <article>
          <img
            width="100%"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Samsung Galaxy S10"
          />
          <p class="price">$23.200</p>
          <p class="discount">5% off</p>
          <h3 class="description">SmartTv Samsung 43"</h3>
        </article>
      </section>
    </main>
    <footer>
        <section class="footer-main">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
    
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
    
</body>
</html>